<div class="table-ninja-group">
    <h2>{{this.name}}</h2>
    {{#each this.values}}
        {{#if this.folder}}
            <h3>{{this.name}}</h2>
            
        {{else}}
            {{> partials.results}}
        {{/if}}
    {{/each}}
</div>