<div class="table-ninja-group">
    <h2>{{this.name}}</h2>
    {{#each this.childEntities}}
        {{#if this.folder}}
            {{> "modules/table-ninja/templates/partials/group.hbs"}}
        {{else}}
            {{> "modules/table-ninja/templates/partials/rolls.hbs"}}
        {{/if}}
    {{/each}}
</div>