<!--
<nav class="tabs" data-group="primary-tabs">
    <a class="item" data-tab="tab1">Tab 1</li>
    <a class="item" data-tab="tab2">Tab 2</li>
</nav>

<section class="content">
    <div class="tab" data-tab="tab1" data-group="primary-tabs">Content 1</div>
    <div class="tab" data-tab="tab2" data-group="primary-tabs">Content 2</div>
</section>
-->

<script type="text/javascript">

    function overflowManager(id) {
        let element = document.getElementById(id);
        if (element.scrollHeight > element.clientHeight || element.scrollWidth > element.clientWidth) {
            element.classList.add("tninja-overflowing");
        } else {
            element.classList.remove("tninja-overflowing");
        }
    };

    function tninjaCopyToClipboard(id) {
        let element = document.getElementById(id);
        let textarea = document.createElement('textarea');
        textarea.value = element.innerText;
        document.body.appendChild(textarea);
        textarea.select();
        document.execCommand('copy');
        document.body.removeChild(textarea);
    }

</script>

<div class="tninja-content">
    {{#if this.data.childEntities.length}}
        {{#each this.data.childEntities}}
            {{#if this.isFolder}}
                {{> "modules/table-ninja/templates/partials/group.hbs"}}
            {{else}}
                {{> "modules/table-ninja/templates/partials/table.hbs"}}
            {{/if}}
        {{/each}}
    {{else}}
        <p>To get started, drag some tables into the "Table Ninja" folder in the Tables tab then hit refresh.</p>
        <p>You can also categorise things by making subfolders!</p>
    {{/if}}
</div>
<div class="tninja-controls">
    <button onclick="ui.tableNinja.refresh()"><i class="fa fa-random"></i> Refresh</button>
</div>
