li.scene-control[data-control="table-ninja"], li.scene-control[data-control="table-ninja"] i {
    display: flex;
    height: 36px;
    width: 36px;
    justify-content: center;
    align-items: center;
}

.table-ninja-group {
    padding: 5px;
    background-color: rgba(200, 200, 200, 0.5);
    border: 1px solid #bbb;
    margin-bottom: 5px;
    border-radius: 7px;
}

.table-ninja-group .table-ninja-group  {

    border-color: #999;
    margin: 5px;
}

.table-ninja-group .table-ninja-group h2 {
    border-color: #888;
}