li.scene-control[data-control="table-ninja"], li.scene-control[data-control="table-ninja"] i {
    display: flex;
    height: 36px;
    width: 36px;
    justify-content: center;
    align-items: center;
}
.table-ninja-group {
    padding: 5px;
    background-color: rgba(200, 200, 200, 0.5);
    border: 1px solid #bbb;
    margin-bottom: 5px;
    border-radius: 7px;
}
.table-ninja-group .table-ninja-group  {
    border-color: #999;
    margin: 5px;
}
.table-ninja-group .table-ninja-group h2 {
    border-color: #888;
}
.table-ninja-select {
    text-indent: -200em;
    background: url(../images/arrow-down.svg) no-repeat 50% 50%;
    background-size: 15px;
    height: 20px;
    width: 20px;
    -webkit-appearance: none;
    border: none;
    cursor: pointer;
}
.table-ninja-select:focus {
    box-shadow: none;
}
.table-ninja-select:hover {
    box-shadow: 0 0 5px red;
}
.table-ninja-label {
    display: inline-block;
}
.table-ninja-result {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #888;
}
.table-ninja-result:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}