li.scene-control[data-control="table-ninja"], li.scene-control[data-control="table-ninja"] i {
    display: flex;
    height: 36px;
    width: 36px;
    justify-content: center;
    align-items: center;
}

.table-ninja-group {
    padding: 5px;
    background-color: #999;
    margin-bottom: 5px;
}